:root {
  --col-orange: #FDB100;
  --col-green: #20CA10;
  --col-red: #FA0505;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0056b3, #0057b336);
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.header-title {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 36px;
  color: white;
  white-space: nowrap;
  max-width: 90vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

#svg-container {
  width: 500px;
  height: auto;
}

.text-overlay {
  margin-top: 20px;
  text-align: center;
}

.text-overlay .number {
  font-size: 42px;
  font-weight: bold;
}

.text-overlay .text {
  font-size: 20px;
  font-weight: bold;
}

.buttons {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 30%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #0057b3b1;
}

.button.active {
  background-color: #0056b3;
  color: white;
}

#cars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.car {
  position: absolute;
  width: 100px;
  height: auto;
  transition: transform 0.2s;
}